USE [master]
GO
/****** Object:  Database [BankApplication]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE DATABASE [BankApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BankApplication.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BankApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BankApplication_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankApplication]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [uniqueidentifier] NOT NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[PIN] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CurrentBalance] [decimal](18, 2) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Landmark] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FailedEmail]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FailedEmail](
	[FailEmailID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Body] [nvarchar](max) NULL,
 CONSTRAINT [PK_FailedEmail] PRIMARY KEY CLUSTERED 
(
	[FailEmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [uniqueidentifier] NOT NULL,
	[StatusKey] [nvarchar](50) NULL,
	[StatusValue] [nvarchar](50) NULL,
	[DisplayValue] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transection]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transection](
	[TransectionId] [uniqueidentifier] NOT NULL,
	[Remarks] [nvarchar](200) NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransectionDate] [datetime] NULL,
	[StatusId] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NULL,
	[TransectionTypeId] [uniqueidentifier] NULL,
	[TransectionModeId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Transection] PRIMARY KEY CLUSTERED 
(
	[TransectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransectionMode]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransectionMode](
	[TransectionModeId] [uniqueidentifier] NOT NULL,
	[Mode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TransectionMode] PRIMARY KEY CLUSTERED 
(
	[TransectionModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransectionType]    Script Date: 5/7/2016 8:39:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransectionType](
	[TransectionTypeId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[TransectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([AccountId], [AccountNumber], [PIN], [CreatedDate], [CurrentBalance], [UserId]) VALUES (N'3e51afaf-b1c7-4a23-bb80-495636bb266c', N'CA0001', 1234, CAST(0x0000A5FB01099083 AS DateTime), CAST(14578.10 AS Decimal(18, 2)), N'bc522acc-a0bd-421c-bdbb-f466971365cd')
INSERT [dbo].[Account] ([AccountId], [AccountNumber], [PIN], [CreatedDate], [CurrentBalance], [UserId]) VALUES (N'9365796b-96cf-4ff1-82a8-4d83a20dbb6e', N'CA0002', 1234, CAST(0x0000A5FB013304C0 AS DateTime), CAST(4899.02 AS Decimal(18, 2)), N'7a7eacbf-ce5a-4b5b-88a5-ce58e35b25d0')
INSERT [dbo].[Account] ([AccountId], [AccountNumber], [PIN], [CreatedDate], [CurrentBalance], [UserId]) VALUES (N'50553b2e-7756-4551-b387-7669a963ced5', N'CA0003', 1234, CAST(0x0000A5FB018742B5 AS DateTime), CAST(5000.00 AS Decimal(18, 2)), N'8e9dfec8-1795-41c2-94a4-5013fe9dc5d0')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2FA17722-F606-4CDB-9541-6F97D63051E2', N'Customer')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Twitter', N'130747425', N'8e9dfec8-1795-41c2-94a4-5013fe9dc5d0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7a7eacbf-ce5a-4b5b-88a5-ce58e35b25d0', N'2FA17722-F606-4CDB-9541-6F97D63051E2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8e9dfec8-1795-41c2-94a4-5013fe9dc5d0', N'2FA17722-F606-4CDB-9541-6F97D63051E2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bc522acc-a0bd-421c-bdbb-f466971365cd', N'2FA17722-F606-4CDB-9541-6F97D63051E2')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Country], [Address], [City], [Landmark], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'8e9dfec8-1795-41c2-94a4-5013fe9dc5d0', N'test', N'user', N'United States', N'jdskjak', N'Newyork', N'jklslkdl', N'sandeep_modi@in.com', 0, NULL, N'b8bfb175-458c-4cce-8f3f-06390b45fd19', N'3482468', 0, 0, NULL, 1, 0, N'sandeep_modi@in.com')
INSERT [dbo].[Status] ([StatusID], [StatusKey], [StatusValue], [DisplayValue]) VALUES (N'7637f101-64c0-43a0-908e-3e2f93681d34', N'Success', N'Success', N'Success')
INSERT [dbo].[Status] ([StatusID], [StatusKey], [StatusValue], [DisplayValue]) VALUES (N'00ebc6e2-cda8-4599-bb03-4208d739a5c0', N'Pending', N'Pending', N'Pending')
INSERT [dbo].[Transection] ([TransectionId], [Remarks], [Amount], [TransectionDate], [StatusId], [AccountId], [TransectionTypeId], [TransectionModeId]) VALUES (N'ccfc387c-b46b-44b1-a441-0b3cc8c13e56', N'transfer to modi', CAST(4839.52 AS Decimal(18, 2)), CAST(0x0000A5FB0145C46C AS DateTime), N'7637f101-64c0-43a0-908e-3e2f93681d34', N'3e51afaf-b1c7-4a23-bb80-495636bb266c', N'2b7f28a4-45dd-4192-ab34-f881bcabcf26', N'312a2160-df33-411b-9eb1-32c3e2a14520')
INSERT [dbo].[Transection] ([TransectionId], [Remarks], [Amount], [TransectionDate], [StatusId], [AccountId], [TransectionTypeId], [TransectionModeId]) VALUES (N'e1c407cb-fac1-41f2-aff8-0e736f80cf18', N'transfer', CAST(51.00 AS Decimal(18, 2)), CAST(0x0000A5FB0149D200 AS DateTime), N'7637f101-64c0-43a0-908e-3e2f93681d34', N'9365796b-96cf-4ff1-82a8-4d83a20dbb6e', N'1f97451c-f13a-49f2-a72f-8da6371b3286', N'312a2160-df33-411b-9eb1-32c3e2a14520')
INSERT [dbo].[Transection] ([TransectionId], [Remarks], [Amount], [TransectionDate], [StatusId], [AccountId], [TransectionTypeId], [TransectionModeId]) VALUES (N'99e413f0-4bd1-4bfb-addd-12985892d35e', N'51 , has be debited from your account.', CAST(51.00 AS Decimal(18, 2)), CAST(0x0000A5FB01470ED8 AS DateTime), N'7637f101-64c0-43a0-908e-3e2f93681d34', N'3e51afaf-b1c7-4a23-bb80-495636bb266c', N'1f97451c-f13a-49f2-a72f-8da6371b3286', N'312a2160-df33-411b-9eb1-32c3e2a14520')
INSERT [dbo].[TransectionMode] ([TransectionModeId], [Mode]) VALUES (N'312a2160-df33-411b-9eb1-32c3e2a14520', N'OnlineTransfer')
INSERT [dbo].[TransectionMode] ([TransectionModeId], [Mode]) VALUES (N'b9392b79-d95d-4a92-a0e3-7a959b561c01', N'CashDeposit')
INSERT [dbo].[TransectionType] ([TransectionTypeId], [Type]) VALUES (N'1f97451c-f13a-49f2-a72f-8da6371b3286', N'Debit')
INSERT [dbo].[TransectionType] ([TransectionTypeId], [Type]) VALUES (N'2b7f28a4-45dd-4192-ab34-f881bcabcf26', N'Credit')
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/7/2016 8:39:34 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_AccountId]  DEFAULT (newid()) FOR [AccountId]
GO
ALTER TABLE [dbo].[FailedEmail] ADD  CONSTRAINT [DF_FailedEmail_FailEmailID]  DEFAULT (newid()) FOR [FailEmailID]
GO
ALTER TABLE [dbo].[Status] ADD  CONSTRAINT [DF_Status_StatusID]  DEFAULT (newid()) FOR [StatusID]
GO
ALTER TABLE [dbo].[Transection] ADD  CONSTRAINT [DF_Transection_TransectionId]  DEFAULT (newid()) FOR [TransectionId]
GO
ALTER TABLE [dbo].[TransectionMode] ADD  CONSTRAINT [DF_TransectionMode_TransectionModeId]  DEFAULT (newid()) FOR [TransectionModeId]
GO
ALTER TABLE [dbo].[TransectionType] ADD  CONSTRAINT [DF_Table_1_TransectionTypeId]  DEFAULT (newid()) FOR [TransectionTypeId]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Account] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Account]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Transection]  WITH CHECK ADD  CONSTRAINT [FK_Transection_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Transection] CHECK CONSTRAINT [FK_Transection_Account]
GO
ALTER TABLE [dbo].[Transection]  WITH CHECK ADD  CONSTRAINT [FK_Transection_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Transection] CHECK CONSTRAINT [FK_Transection_Status]
GO
ALTER TABLE [dbo].[Transection]  WITH CHECK ADD  CONSTRAINT [FK_Transection_TransectionMode] FOREIGN KEY([TransectionModeId])
REFERENCES [dbo].[TransectionMode] ([TransectionModeId])
GO
ALTER TABLE [dbo].[Transection] CHECK CONSTRAINT [FK_Transection_TransectionMode]
GO
ALTER TABLE [dbo].[Transection]  WITH CHECK ADD  CONSTRAINT [FK_Transection_TransectionType] FOREIGN KEY([TransectionTypeId])
REFERENCES [dbo].[TransectionType] ([TransectionTypeId])
GO
ALTER TABLE [dbo].[Transection] CHECK CONSTRAINT [FK_Transection_TransectionType]
GO
USE [master]
GO
