
@{
    ViewBag.Title = "API Access";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

 <br />
                    <div class="section-title">
                      <h4>API Access</h4>
                    </div>
                    <div class="bg-whte">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <p>API Token for accessing the REST API<strong style="color:#777;"> e0f7fc2d976e5121904c0d24eb19912c </strong></p>
                                <p>Here are some links to get started:</p>
                                <p>Introduction to REST API: <span class="text-primary"><a href="#" class="text-primary link-text" target="_blank">Click Here</a></span></p>
                                <p>Authentication and Authorization: <span class="text-primary"><a href="#" class="text-primary link-text" target="_blank">Click Here</a></span></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <p>The REST API is now available for all plans. Currently you can make unlimited REST API calls. Going forward, different accounts will have different limits on the number of REST API calls they can make in a month. The number of REST API calls in your account will then be a function of A) the plan (Free, Premium, Business, or Enterprise) you’re on, and B) your account’s subscriber limit. Refer to the <a href="#" class="text-primary" target="_blank"><span class="text-primary link-text">pricing page</span></a> for more details.
                                </p>
                                <p>
                                If you have any feedback over the API, any use-case that you think which can’t be implemented with the functions we have, or need any help implementing it, please get in touch with us at <a href="#"><span class="text-primary link-text">support@@.com</span></a></p><a href="#">
                            </a></div><a href="#">
                        </a></div><a href="#">
                    </a></div>
                    </div>