
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Dashboard</h3>
    </div>
    <h5 class="sub-title">View all stats and recent notifications.</h5>
</div>
<div class="content">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="x_panel">
                <div class="x_content">

                    <!-- Dashboard stats -->

                    <div class="col-md-3 col-sm-4 col-xs-4 dashboard-stats">
                        <div class="col-md-3 icon-dash"><i class="fa fa-users fa-3x pull-right" aria-hidden="true"></i></div>
                        <div class="col-md-9">
                            <h2 class="counts">1000</h2>
                            <h4>Subscribers</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4 dashboard-stats">
                        <div class="col-md-3 icon-dash"><i class="fa fa-bell-o fa-3x pull-right" aria-hidden="true"></i></div>
                        <div class="col-md-9">
                            <h2 class="counts">25000</h2>
                            <h4>Notifications</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4 dashboard-stats">
                        <div class="col-md-3 icon-dash"><i class="fa fa-home fa-3x pull-right" aria-hidden="true"></i></div>
                        <div class="col-md-9">
                            <h2 class="counts">500</h2>
                            <h4>Campaigns</h4>
                        </div>
                    </div>

                    <!-- Dashboard stats /-->

                    <div class="bg-whte">
                        <div class="section-title">
                            <h4>Your 5 Most Recent Notification</h4>
                        </div>
                        <br>

                        <!-- 5 most recent sent notification -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class=" col-md-12 latest-sent">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="notification-details">
                                            <span class="col-md-3"> <img src="assets/images/chrome.png" alt="" class="img-responsive smal-image" /></span>
                                            <div class="col-md-9">
                                                <h3 class="preview-tile">Notification Title</h3>
                                                <p>Notification Body</p>
                                                <p>xyzabc.pushnotification.com</p>
                                                <p><a href="https://pushcrew.com/admin/send-notification.php">https://pushcrew.com/admin/send-notification.php</a></p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <div class="notify-count">Delivered: <span class="pull-right">4</span></div>
                                        <div class="notify-count">Clicks: <span class="pull-right">4</span></div>
                                        <div class="notify-count">Click Rate: <span class="pull-right">4</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- 5 most recent sent notification /-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

